
.targeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    gap: 20px;
}

.clave{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
}